@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard-Regular";
  font-weight: normal;
  src: url("./fonts/Pretendard-Regular.ttf") format("truetype");
}

body {
  font-family: "Pretendard-Regular";
}